{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off",
    "max-classes-per-file": ["error", 2],
    "linebreak-style": "off"
  },
  "globals": {
    "fetch": false,
    "document": true
  }
}